<div class="dashboard-parent">
  <button class="btn btn-primary shadow-none" data-bs-toggle="modal" data-bs-target="#noteModal"
    (click)="setActionType('Add')">Add Note</button>
  <div class="dashboard mt-2 d-flex" style="flex-wrap: wrap;">
    <div class="card" style="width: 32%; margin: 5px;" *ngFor="let note of notes;">
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">
          {{note.content | shorten:150}}
        </p>
        <button class="btn btn-primary shadow-none" data-bs-toggle="modal" data-bs-target="#noteModal"
          style="margin-right: 5px; width: 74px;" (click)="setActionType('Update', note.id!)">Edit</button>
        <button class="btn btn-danger shadow-none" data-bs-toggle="modal" data-bs-target="#confirmationModal"
          style="width: 74px;" (click)="onDeleteNote(note.id!)">Delete</button>
      </div>
    </div>
    <p *ngIf="isLoading">Loading...</p>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </div>
  <app-note-modal [featureSelected]="actionType"></app-note-modal>
  <app-confirmation-modal></app-confirmation-modal>
</div>
